:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  nz-content {
    flex: 1; 
    padding: 0 50px;
    background-color: #ffffff;
  }
  .footer {
    background: linear-gradient(135deg, #e1dfe6, #c1d2e6);
    color: black;
    text-align: center;
    padding: 50px 0;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer-title {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .footer-description {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .contact-button {
    margin-bottom: 30px;
  }
  
  .contact-info {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
  }
  
  .contact-item {
    text-align: left;
  }
  
  .contact-title {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .contact-detail {
    font-size: 1em;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.5em;
  }
  
  .social-icon {
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .social-icon:hover {
    color: #007bff;
  }
  
  .inner-content {
    width: 100%;
    height: 100%;
    /* autres styles nécessaires */
  }
  
  p {
    margin: 0;
  }
  [nz-carousel-content] {
    text-align: center;
    height: 300px;
    line-height: 300px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }
  h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
    font-size: 24px;
  }
  h2 {
    color: black;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .learning-today {
    position: relative;
    width: 100%;
    height: 500px; /* Ajustez cette valeur pour augmenter la taille */
    background: url('/assets/Images/notebook1.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-start; /* Aligner le texte à gauche */
    align-items: center;
    padding-left: 50px; /* Espace depuis le bord gauche */
    margin-top: 50px;
  }
  
  .learning-today span {
    color: white;
    font-size: 3rem; /* Ajustez cette valeur pour la taille du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Pour améliorer la lisibilité du texte */
    font-weight: bold;
    text-align: left;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour améliorer la lisibilité */
    border-radius: 8px;
    cursor: pointer;
  }
  :host ::ng-deep .ant-back-top {
    bottom: 100px;
  }
  :host ::ng-deep .ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
  :host ::ng-deep strong {
    color: #1088e9;
  }
  .inner-content:focus {
    outline: 2px solid #0066ff; /* Couleur et épaisseur de l'outline à adapter selon votre design */
    outline-offset: 2px; /* Espace entre l'outline et l'élément */
  }
  .nz-list-item:focus {
    outline: 2px solid #0066ff;
    outline-offset: 2px;
  }
.user-section {
    width: 100%;
    background-color: #ffffff;
}
.user-section-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.image-container {
    position: relative;
    width: 100%;
}
.user-image {
  width: 500px; /* Assurez-vous que le conteneur prend toute la largeur disponible */
  height: 500px; /* Ajustez cette valeur en fonction de la hauteur souhaitée pour le carousel */
}
.overlay {
    position:absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(184, 184, 184, 0.5); 
    color: white;
    padding: 20px;
    width: 100%;
}
.review-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
}
.review-content {
  display: flex;
  width: 80%;
  max-width: 1200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.image-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
}
.feedback-image {
  max-width: 100%;
  height: auto;
}

.form-side {
  flex: 2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review-form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

textarea {
  margin-top: 10px; 
  width: 100%;
}

.course-spaces-section {
  padding: 50px 0;
  text-align: center;
  background: #ececec;
}
.section-title {
  color: #333;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.course-spaces-list {
  display: flex;
  justify-content: center;
}

.course-card {
  margin-top: 60px;
  width: 100%;
  height: 100%;  /* S'assure que la carte utilise toute la hauteur disponible */
  min-height: 350px;  /* Définit une hauteur minimale, ajustez en fonction de la carte "University space" */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 2px solid rgb(195, 195, 216);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* S'assure que le contenu est réparti uniformément */
}
.course-card:hover {
  transform: translateY(-5px);
  border: 2px solid darkblue; /* Changer la couleur de la bordure lors du survol */
}
.course-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.course-description {
  color: #666;
  margin-bottom: 20px;
}
.course-card-categories {
  width: 250px; /* Largeur fixe pour les cartes */
  height: 300px; /* Hauteur fixe pour les cartes */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espace entre les éléments internes */
}
.course-card-categories:hover {
  transform: translateY(-5px);
  border: 2px solid rgb(82, 82, 85); /* Changer la couleur de la bordure lors du survol */
}
.course-card-categories .course-description-categories {
  max-height: 60%; /* Limite la hauteur de la description */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.course-description-categories {
  color: #666;
  margin-bottom: 20px;
}
.course-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* Keep the height of the container as is */
}

.course-image {
  max-width: 80px; /* Adjust this value to make the image smaller */
  max-height: 80px; /* Adjust this value to make the image smaller */
  object-fit: contain;
}
.teacher-name {
  font-weight: bold;
  justify-content: center;
}
.nz-button {
  margin-top: 10px;
}
.chatbot-wrapper {
  position: fixed; /* Position fixe pour toujours rester visible */
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
}
.chatbot-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  padding: 8px 16px;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #1890ff;
  color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  text-align: center;
}

.chatbot-button span[nz-icon] {
  margin-right: 8px;
}

.chatbot-button:hover {
  background-color: #40a9ff;
}
.chatbot-container {
  width: 500px;
  height: 450px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px; /* Espace entre le chatbot et le bouton */
  margin-right: 50px;
}

button[nz-button] {
  font-size: 1rem;
}
button[nz-button]:hover {
  background-color: #1088e9;
  border-color: #1088e9;
}
.accessibility-controls {
  position: fixed;
  top: 70px;
  left: 8px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
.accessibility-controls button {
  margin: 5px 0;
  padding: 5px 10px; 
  font-size: 12px; 
  cursor: pointer;
  border: none;
  background-color: #1088e9;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.accessibility-controls button:hover {
  background-color: #0056b3;
}
.inner-content {
  transform-origin: 0 0;
  transition: transform 0.3s;
}

button:focus,
input:focus,
select:focus,
.nz-card:focus,
.nz-list:focus,
h2:focus,
div:focus {
  outline: 2px solid blue; /* Adjust the color and thickness as needed */
  background-color: #f0f0f0; /* Optional: Change background color on focus */
}
