<nz-layout>
  <div class="accessibility-controls">
    <button nz-button (click)="zoomIn()" tabindex="0">{{'Zoom In'|translate}}</button>
    <button nz-button (click)="zoomOut()" tabindex="0">{{'Zoom Out'|translate}}</button>
    <button nz-button (click)="resetZoom()" tabindex="0">{{'Reset Zoom'|translate}}</button>
  </div>
  
  <nz-content tabindex="0" [ngStyle]="{'transform': 'scale(' + zoomLevel + ')', 'transform-origin': 'top left'}">
    <div class="inner-content" tabindex="0">
      <!-- Contenu -->
      <div class="user-section">
        <div class="user-section-content">
          <div class="image-container">
            <img src="assets/Images/online-learn.jpg" alt="User Image" class="user-image" />
            <div class="overlay">
              <nz-card title="User Information" class="user-card">
                <h2 class="section-title" style="text-align: left;" tabindex="0">{{'Your personalized learning journey starts here.' | translate}}</h2>
                <p style="font-weight: bold;" tabindex="0">{{'Master the skills of today and prepare for the challenges of tomorrow. We are here to guide you every step of the way.' | translate}}</p>
              </nz-card>
            </div>
          </div>
        </div>
      </div>
      
      <h2 class="section-title" tabindex="0">
        <div class="learning-today">
          <span (click)="scrollToCourseSpaces()" tabindex="0" (keydown.enter)="scrollToCourseSpaces()" (keydown.space)="scrollToCourseSpaces()">{{'Let\'s start our learning!'| translate}} {{ fullname }}</span>
        </div>
      </h2>
      
      <div class="course-spaces-section" id="courseSpaces">
        <h2 class="section-title" tabindex="0">{{ 'Available Course Spaces' | translate }}</h2>
        <div class="course-spaces-list">
          <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="8" *ngFor="let courseSpace of courseSpaces">
              <div class="course-card-container">
                <nz-card class="course-card" tabindex="0">
                  <div class="course-title">{{ courseSpace.title | translate }}</div>
                  <p class="course-description">{{ courseSpace.description | translate }}</p>
                <a nz-button nzType="primary" tabindex="0" (click)="navigateToCourseSpace(courseSpace._id)" (keydown.enter)="navigateToCourseSpace(courseSpace._id)" (keydown.space)="navigateToCourseSpace(courseSpace._id)">{{'See more!'| translate}}</a>
              </nz-card>
              </div>
            </div>
          </div>
        </div>
      </div>  
    
      <nz-list tabindex="0">
        <h2 class="section-title" style="text-align: left; margin-top: 90px; margin-bottom: 90px;" tabindex="0">{{ 'Top Categories!' | translate }}</h2>
        <div role="region" aria-label="Top courses categories" tabindex="0" style="display: flex; overflow-x: auto; white-space: nowrap; background: #ececec;">
          <ng-container *ngFor="let item of popularCourses">
            <div style="flex: 0 0 auto; padding: 16px;" tabindex="0">
              <nz-card class="course-card-categories" [nzTitle]="item.title" tabindex="0" [nzExtra]="extraTemplate">
                <div class="course-image-container">
                  <img *ngIf="item.imageUrl" [src]="item.imageUrl" alt="{{ item.title }}" class="course-image" tabindex="0" />
                </div>
                <div class="course-description-categories" tabindex="0">{{ item.description | slice:0:100 }}</div>
                <div class="teacher-name" tabindex="0">{{'Teacher :'|translate}} {{ item.teacherFullName }}</div>
              </nz-card>
              <ng-template #extraTemplate tabindex="0">
                <a (click)="checkEnrollment(item._id)" tabindex="0" (keydown.enter)="checkEnrollment(item._id)" (keydown.space)="checkEnrollment(item._id)">{{'Access' | translate}}</a>
              </ng-template>
            </div>
          </ng-container>
        </div>
      </nz-list>
      
      <!-- Autres sections -->

      <div class="review-section" tabindex="0">
        <div class="review-content">
          <div class="image-side">
            <img src="assets/Images/avis-image.jpg" alt="Feedback Illustration" class="feedback-image" />
          </div>
          <div class="form-side">
            <nz-comment class="review-form" tabindex="0">
              <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
              <nz-comment-content>
                <h2 tabindex="0">{{'We are constantly listening to improve our platform and make your experience even better! Together, let\'s make our learning environment accessible to all!'| translate}}</h2>
                <nz-form-item>
                  <textarea [(ngModel)]="inputValue" nz-input rows="4" placeholder="{{'Share your feedback here...'| translate}}" tabindex="0"></textarea>
                </nz-form-item>
                <nz-form-item>
                  <button nz-button nzType="primary" style="margin-top: 10px;" [nzLoading]="submitting" [disabled]="!inputValue" (click)="SubmitReview(userId)" tabindex="0">
                    {{'Add Review'| translate}}
                  </button>
                </nz-form-item>
              </nz-comment-content>
            </nz-comment>
          </div>
        </div>
      </div>

    </div>
  </nz-content>
  
  <nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="200" (nzOnClick)="notify()" tabindex="0">
    <ng-template #tpl>
      <div class="ant-back-top-inner" tabindex="0">{{'UP'|translate}}</div>
    </ng-template>
  </nz-back-top>
  
  <nz-footer class="footer" tabindex="0">
    <div class="footer-content">
      <h2 class="footer-title" tabindex="0">{{'Talk To Us'|translate}}</h2>
      <p class="footer-description" tabindex="0">{{'Feel free to call, email, or hit us up on our social media accounts.'|translate}}</p>
      <button nz-button nzType="default" class="contact-button" tabindex="0">{{'Contact Us'|translate}}</button>
      <div class="contact-info">
        <div class="contact-item">
          <h4 class="contact-title" tabindex="0">{{'Phone'|translate}}</h4>
          <p class="contact-detail" tabindex="0">(216) 54 906 781</p>
        </div>
        <div class="contact-item">
          <h4 class="contact-title" tabindex="0">{{'Email'|translate}}</h4>
          <p class="contact-detail" tabindex="0">allLearn&#64;learningsite.com</p>
        </div>
      </div>
      <div class="social-icons">
        <i nz-icon nzType="facebook" class="social-icon" tabindex="0"></i>
        <i nz-icon nzType="twitter" class="social-icon" tabindex="0"></i>
        <i nz-icon nzType="instagram" class="social-icon" tabindex="0"></i>
      </div>
    </div>
  </nz-footer>

  <div class="chatbot-wrapper" tabindex="0">
    <button nz-button nz-popover nzType="primary" class="chatbot-button"
      [nzPopoverTitle]="chatbotPopoverTitle" nzPopoverTrigger="hover"
      (click)="toggleChatbot()" tabindex="0" (keydown.enter)="toggleChatbot()" (keydown.space)="toggleChatbot()">
      <span nz-icon nzType="wechat" nzTheme="outline"></span> 
      {{'Chat with Us'|translate}}
    </button>
  
    <div *ngIf="isChatbotOpen" class="chatbot-container" tabindex="0">
      <app-chatbot (chatbotClosed)="toggleChatbot()" tabindex="0" (keydown.enter)="toggleChatbot()"></app-chatbot>
    </div>
  </div>

</nz-layout>


