<nz-table #nzTable [nzData]="teachers" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzCustomFilter>
          Name
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <span nz-icon nzType="search"></span>
          </nz-filter-trigger>
        </th>
        <th>Courses Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers">
        <td>{{ teacher.fullname }}</td>
        <td>{{ teacherCoursesCount[teacher._id]?.courseCount || '0' }}</td> <!-- Accéder à la propriété courseCount -->
        <td>
          <button nz-button nzType="primary" nzDanger (click)="showConfirm(teacher._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
  