nz-progress {
    margin-bottom: 1rem;
  }
  
  nz-progress .ant-progress-inner {
    text-align: center;
    line-height: 1.5;
  }
  .TeacherKey {
    color: green;
  }
  .StudentKey {
    color: orange;
  }
  h4 {
    font-weight: bold;
    margin-left: 28px;
  }