/* Base Styles */
.content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow-y: auto;
  padding: 20px;
}

.video-container {
  flex: 1 1 60%; /* Flexible width */
  min-width: 500px; /* Minimum width to ensure the video stays visible */
  margin-right: 20px;
}

.sections-container {
  flex: 0 0 300px; /* Fixed width */
  max-width: 300px;
  height: calc(100vh - 40px); /* Full height minus some padding */
  overflow-y: auto;
  z-index: 1001;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabset-container {
  width: 100%;
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.tab-content {
  max-width: 800px;
  margin: 0 20px;
}

.tab-content p{
  font-size: 1.2rem;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center; /* Center items */
  }

  .video-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .sections-container {
    margin-top: 350px;
    width: 100%;
    position: relative;
    max-width: 100%;
  }

  .tabset-container {
    margin-top: 30px;
    margin-left: 0; /* Reset margin */
  }
}

@media (max-width: 768px) {
  .video-container {
    min-width: 300px; /* Adjust minimum width */
  }

  .sections-container {
    width: 100%;
    max-width: 100%;
  }

  .tabset-container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .video-container {
    min-width: 250px; /* Adjust minimum width */
  }

  .sections-container {
    width: 100%;
    max-width: 100%;
  }

  .tabset-container {
    width: 100%;
  }
}

.accessibility-controls {
  position: fixed;
  top: 50px;
  left: 8px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.accessibility-controls button {
  margin: 5px 0;
  padding: 8px 16px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  background-color: #1890ff;
  color: #ffffff;
  border-radius: 24px;
  transition: background-color 0.3s;
}

.accessibility-controls button:hover {
  background-color: #40a9ff;
}

/* Titres et styles de texte */
.nz-collapse-header {
  font-weight: bold;
  padding: 12px;
  border-bottom: 1px solid #e8e8e8;
}

.nz-collapse-header strong {
  font-weight: bold;
}

.sections-title{
  font-size: 1.1rem;
}

.lessons-title{
  font-size: 1.1rem;
}

.lessons-container p{
  font-size: 1.1rem;
}
/* Styles de commentaire */
.comment {
  border: 1px solid #ddd;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-actions {
  margin-top: 10px;
}

.reply {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Animation */
.inner-content {
  transform-origin: 0 0;
  transition: transform 0.3s;
}

.content-wrapper {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container {
  background-color: #ffffff;
  padding: 90px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sections-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nz-tabset {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nz-collapse-panel {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reply {
  background-color: #f5f5f5;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviews-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-details {
  color: #080808;
  border-radius: 24px;
  transition: background-color 0.3s;
  padding: 20px;
  width: 100%;
}

.review-item {
  text-align: center;
  margin: 0 auto;
}

.reply-button {
  color: grey;
}

.comment-text {
  font-size: large;
}
button:focus,
h4:focus,
div:focus {
  outline: 2px solid blue; 
  background-color: #f0f0f0; 
}