<div class="dashboard-container">
  <nz-tabset style="height: 420px;" [nzTabPosition]="nzTabPosition" [(nzSelectedIndex)]="selectedIndex">
    <nz-tab [nzTitle]="'My Courses Overview'"></nz-tab>
    <nz-tab *ngFor="let course of courses; let i = index" [nzTitle]="course.title" [nzDisabled]="course.disabled"
      (nzSelect)="onTabSelect(course)" (nzDeselect)="onTabDeselect(course)">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-statistic style="font-weight: bold;" [nzValue]="course.participants" [nzTitle]="'Participants'"></nz-statistic>
        </div>
        <div nz-col [nzSpan]="12">
          <h3 class="section-title">{{ 'Quiz Scores List' | translate }}</h3>
          <nz-collapse>
            <nz-collapse-panel *ngFor="let quiz of quizScores" [nzHeader]="quiz.quiz.name">
              <nz-list nzBordered nzSize="small">
                <nz-list-item *ngFor="let student of quiz.students" [nzNoFlex]="!quiz.students || quiz.students.length === 0">
                  <div class="quiz-score-item">
                    <div>{{ student.student.fullname }} :</div>
                    <div><strong>{{ 'Score:' | translate }}</strong> {{ student.score }}</div>
                    <div><strong>{{ 'Performance:' | translate }}</strong> {{ student.performance }}</div>
                  </div>
                </nz-list-item>
                <div *ngIf="!(quiz.students && quiz.students.length > 0)">
                  {{ 'No scores available for this quiz.' | translate }}
                </div>
              </nz-list>
            </nz-collapse-panel>
          </nz-collapse>
          <div *ngIf="!(course && quizScores && quizScores.length)">
            {{ 'No quizzes available for the selected course.' | translate }}
          </div>
        </div>
      </div>

      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <!-- Afficher les commentaires -->
          <nz-list-header><strong>{{ 'Q & A List' | translate }}</strong></nz-list-header>
          <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
            <div *ngIf="!comments || comments.length === 0">
              <h3 style="color: #f50;">{{ 'No comments available for this course!' | translate }}</h3>
            </div>
            <nz-list-item *ngFor="let comment of comments">
              <nz-list-item-meta nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
                <nz-list-item-meta-title>
                  <a *ngIf="comment && comment.writer">{{ comment.writer.fullname }}</a>
                </nz-list-item-meta-title>
                <nz-list-item-meta-description>
                  <p>{{ comment.text }}</p>
                </nz-list-item-meta-description>
              </nz-list-item-meta>
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <button nz-button nzType="primary" nzDanger (click)="showConfirm(comment._id)">{{ 'Delete' | translate }}</button>
                </nz-list-item-action>
              </ul>
              <!-- Bouton pour ouvrir le modal drawer -->
              <button nz-button nzType="primary" (click)="open(comment._id)">{{ 'Answers' | translate }}</button>
            </nz-list-item>
            <nz-list-empty *ngIf="comments.length === 0"></nz-list-empty>
          </nz-list>
        </div>
      </div>

    </nz-tab>
  </nz-tabset>

  <!-- Modal drawer pour afficher les réponses -->
  <nz-drawer
    [nzClosable]="false"
    [nzVisible]="visible"
    [nzPlacement]="placement"
    nzTitle="{{ 'List of Answers' | translate }}"
    (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
      <nz-list *ngIf="currentReplies && currentReplies.length > 0">
        <nz-list-item *ngFor="let reply of currentReplies">
          <nz-list-item-meta nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
            <nz-list-item-meta-title>
              <ng-container *ngIf="reply && reply.writer">
                {{ reply.writer.fullname }}
              </ng-container>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              <p>{{ reply.text }}</p>
            </nz-list-item-meta-description>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
      <div *ngIf="currentReplies.length === 0">
        {{ 'No replies available.' | translate }}
      </div>
    </ng-container>
  </nz-drawer>
</div>
